body {
    background: url('/assets/4fa0df8e-8469-438b-b7ea-3c35d0ab5084.jpg') black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira', sans-serif;
}

p,
a,
li,
span,
input,
button {
    font-family: 'Open Sans', sans-serif;
}


/* Navbar */

.hero {
    height: 80vh;
    color: white;
    padding-top: 60px;
}

header {
    margin-bottom: 100%;
}

body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

.header-logo {
    max-width: 150px;
    max-height: 150px;
    margin: 1% 30% 0% 2%;
}

.navbar-nav {
    align-self: baseline;
    padding: 0% 4% 0% 0%;
}

.navbar-toggler {
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.container-fluid {
    width: 100%;
}

.navbar,
.offcanvas-top,
.offcanvas-body,
.navbar-nav,
.nav-item,
.navbar-toggler,
.offcanvas {
    backdrop-filter: blur(10px);
}

.offcanvas-body {
    color: white;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: #40ddf8;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #3ef3ea;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.dropdown-menu .dropdown-item {
    margin-bottom: 10px;
}

.dropdown-item {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #2db9cc;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.dropdown-item:hover::after {
    width: 100%;
}

.dropdown-item:hover {
    color: #30ffff;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-item .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-toggler {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 12px 10px;
    position: relative;
    width: 45px;
    border: none;
    margin: 0% 5%;
}

.custom-toggler div {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 10px 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    position: relative;
}

.custom-toggler .bar1 {
    transform-origin: 10% 50%;
}

.custom-toggler .bar2 {
    transform-origin: 10% 50%;
}

.custom-toggler.collapsed .bar1 {
    transform: rotate(45deg) translate(4px, 4px);
}

.custom-toggler.collapsed .bar2 {
    transform: rotate(-45deg) translate(4px, -4px);
}

.custom-btn-close {
    position: relative;
    margin: auto;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.custom-btn-close::before,
.custom-btn-close::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: white;
}

.custom-btn-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-btn-close:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.custom-dropdown-menu:hover {
    background-color: #ffffff;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.custom-dropdown-menu {
    background-color: #0e0d0d;
}

.custom-dropdown-item {
    background-color: #0e0d0d;
}

.dropdown-toggle {
    background-color: aqua;
}

@media (min-width: 992px) {
    .navbar .navbar-nav {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
    .navbar .header-logo {
        margin-right: auto;
    }
    .navbar #navbar-btn {
        margin-left: auto;
    }
    .custom-offcanvas-body {
        backdrop-filter: blur(10px);
    }
}

@media (max-width: 991px) {
    .custom-offcanvas-body {
        backdrop-filter: blur(10px);
        background: linear-gradient(to bottom, #0e0d0d, #0e0d0d);
    }
    .offcanvas-header {
        backdrop-filter: blur(10px);
        background: linear-gradient(to bottom, #0e0d0d, #0e0d0d);
    }
}

@media (max-width: 575px) {
    .btn-success {
        margin: 30px 50% 0px 0px;
    }
}


/* Navbar */

.about-us {
    background-color: aqua;
}